:host{
    display: flex;
    background: var(--keyboard-bg);
    padding: 1em;
    margin-bottom: 1em;
}
.keyboard__main{
    display: flex;
    flex-direction: column;
    width: 50.5em;
    margin-right: 1em; 
}
.main__row{
    display: flex;
    .row__group{
        display: flex;
        justify-content: flex-end;
        width: 14em;
    }
    &--f{
        justify-content: space-between;
        margin-bottom: 1em;
    }
}
.keyboard__side{
    display: flex;
    flex-direction: column;
    min-width: 10.125em;
    .side__row{
        display: flex; 
        &--f{
            margin-bottom: 1em;
        }
        &--arrows{
         margin-top: auto;
         justify-content: center;
         }
     }
}
.key{
    border-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--key-color);
    background: var(--key-bg);
    flex-basis: var(--key-size);
    height: var(--key-size);        
    margin: 0.1875em;
    user-select: none;
    text-transform: uppercase;
    font-weight: 600;
    transition: background-color .3s, color .3s;
}
.metaKey{
    height: 100%;
    width: 100%;
    background: url("../../assets/metaKey.svg") no-repeat center center;
    background-size: 1.3em;
    transition: filter .2s;
    filter: var(--meta-filter);
}
.checked{
    background: var(--key-checked-bg);
    color: var(--key-checked-color);
}
.pressed{
    background: var(--key-pressed-bg);
    color: var(--key-pressed-color);
}
.key--wide{
    flex-grow: 1;
    text-transform: Capitalize;
}
.key--space{
    flex-grow: 11;
}
.key--capitalized{
    text-transform: capitalize;
}
.key--enter{
    flex-grow: 2;
}