<div class="keyboard__main">
    <div class="main__row main__row--f">
        <div class="key key--capitalized" key="Escape"><span>Esc</span></div>
        <div class="row__group">
            <div class="key" key="F1"><span>F1</span></div>
            <div class="key" key="F2"><span>F2</span></div>
            <div class="key" key="F3"><span>F3</span></div>
            <div class="key" key="F4"><span>F4</span></div>
        </div>
        <div class="row__group">
            <div class="key" key="F5"><span>F5</span></div>
            <div class="key" key="F6"><span>F6</span></div>
            <div class="key" key="F7"><span>F7</span></div>
            <div class="key" key="F8"><span>F8</span></div>
        </div>
        <div class="row__group">
            <div class="key" key="F9"><span>F9</span></div>
            <div class="key" key="F10"><span>F10</span></div>
            <div class="key" key="F11"><span>F11</span></div>
            <div class="key" key="F12"><span>F12</span></div>
        </div>
    </div>
    <div class="main__row">
        <div class="key" key="Backquote"><span>`~</span></div>
        <div class="key" key="Digit1"><span>1</span></div>
        <div class="key" key="Digit2"><span>2</span></div>
        <div class="key" key="Digit3"><span>3</span></div>
        <div class="key" key="Digit4"><span>4</span></div>
        <div class="key" key="Digit5"><span>5</span></div>
        <div class="key" key="Digit6"><span>6</span></div>
        <div class="key" key="Digit7"><span>7</span></div>
        <div class="key" key="Digit8"><span>8</span></div>
        <div class="key" key="Digit9"><span>9</span></div>
        <div class="key" key="Digit0"><span>0</span></div>
        <div class="key" key="Minus"><span>-_</span></div>
        <div class="key" key="Equal"><span>=+</span></div>
        <div class="key key--wide" key="Backspace"><span>&#8592;</span></div>
    </div>
    <div class="main__row">
        <div class="key key--wide" key="Tab"><span>Tab</span></div>
        <div class="key" key="KeyQ"><span>q</span></div>
        <div class="key" key="KeyW"><span>w</span></div>
        <div class="key" key="KeyE"><span>e</span></div>
        <div class="key" key="KeyR"><span>r</span></div>
        <div class="key" key="KeyT"><span>t</span></div>
        <div class="key" key="KeyY"><span>y</span></div>
        <div class="key" key="KeyU"><span>u</span></div>
        <div class="key" key="KeyI"><span>i</span></div>
        <div class="key" key="KeyO"><span>o</span></div>
        <div class="key" key="KeyP"><span>p</span></div>
        <div class="key" key="BracketLeft"><span>[&#123;</span></div>
        <div class="key" key="BracketRight"><span>]&#125;</span></div>
        <div class="key key--wide" key="Backslash"><span>\|</span></div>
    </div>
    <div class="main__row">
        <div class="key key--wide" key="CapsLock"><span>Caps</span></div>
        <div class="key" key="KeyA"><span>a</span></div>
        <div class="key" key="KeyS"><span>s</span></div>
        <div class="key" key="KeyD"><span>d</span></div>
        <div class="key" key="KeyF"><span>f</span></div>
        <div class="key" key="KeyG"><span>g</span></div>
        <div class="key" key="KeyH"><span>h</span></div>
        <div class="key" key="KeyJ"><span>j</span></div>
        <div class="key" key="KeyK"><span>k</span></div>
        <div class="key" key="KeyL"><span>l</span></div>
        <div class="key" key="Semicolon"><span>;:</span></div>
        <div class="key" key="Quote"><span>'"</span></div>
        <div class="key key--capitalized key--enter" key="Enter"><span>Enter</span></div>
    </div>
    <div class="main__row">
        <div class="key key--wide" key="ShiftLeft"><span>Shift</span></div>
        <div class="key" key="KeyZ"><span>z</span></div>
        <div class="key" key="KeyX"><span>x</span></div>
        <div class="key" key="KeyC"><span>c</span></div>
        <div class="key" key="KeyV"><span>v</span></div>
        <div class="key" key="KeyB"><span>b</span></div>
        <div class="key" key="KeyN"><span>n</span></div>
        <div class="key" key="KeyM"><span>m</span></div>
        <div class="key" key="Comma"><span>,&lt;</span></div>
        <div class="key" key="Period"><span>.&gt;</span></div>
        <div class="key" key="Slash"><span>/?</span></div>
        <div class="key key--wide" key="ShiftRight"><span>Shift</span></div>
    </div>
    <div class="main__row">
        <div class="key key--wide" key="ControlLeft"><span>Ctrl</span></div>
        <div class="key key--wide" key="MetaLeft">
            <div class="metaKey"></div>
        </div>
        <div class="key key--wide" key="AltLeft"><span>Alt</span></div>
        <div class="key key--space" key="Space"></div>
        <div class="key key--wide" key="AltRight"><span>Alt</span></div>
        <div class="key key--wide" key="ContextMenu"><span>Menu</span></div>
        <div class="key key--wide" key="ControlRight"><span>Ctrl</span></div>
    </div>
</div>
<div class="keyboard__side">
    <div class="side__row side__row--f">
        <div class="key key--capitalized" key="PrintScreen"><span>Prt<br>Scr</span></div>
        <div class="key key--capitalized" key="ScrollLock"><span>Scrl<br>Lock</span></div>
        <div class="key key--capitalized" key="Pause"><span>Paus</span></div>
    </div>
    <div class="side__row">
        <div class="key key--capitalized" key="Insert"><span>Ins</span></div>
        <div class="key key--capitalized" key="Home"><span>Home</span></div>
        <div class="key key--capitalized" key="PageUp"><span>PgUp</span></div>
    </div>
    <div class="side__row">
        <div class="key key--capitalized" key="Delete"><span>Del</span></div>
        <div class="key key--capitalized" key="End"><span>End</span></div>
        <div class="key key--capitalized" key="PageDown"><span>PgDn</span></div>
    </div>
    <div class="side__row side__row--arrows">
        <div class="key" key="ArrowUp"><span>&#11205;</span></div>
    </div>
    <div class="side__row">
        <div class="key" key="ArrowLeft"><span>&#11207;</span></div>
        <div class="key" key="ArrowDown"><span>&#11206;</span></div>
        <div class="key" key="ArrowRight"><span>&#11208;</span></div>
    </div>
</div>