.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: calc(100vh - 53px);
    max-width: 1200px;
    margin: 0 auto;
    font-size: 1em;
}
