
:host{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    user-select: none;
    background: transparent;
    .nav{
        width: 100%;
        &__list{
            display: flex;
            justify-content: flex-end;
            list-style-type: none;
            width: 100%;
            .nav__item{
                .nav__link{
                    padding: 1em;
                    color:var(--bg-lighter);
                    text-decoration: none;
                    transition: color .1s;
                    &:hover{
                        color:#fff;
                    }
                    &:focus{
                        color: #fff;
                    }
                }
                .nav-active{
                    color: #fff;
                }
            }
            .nav__item--logo{
                margin-right: auto;
                .nav__link--logo span{
                    color: #fff
                }
            }
        }
    }
}