/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');
:root{
    --bg: #25272b;
    --body-color: #fff;
    --nav-text: #a1a5ae;
    --keyboard-bg: #191b1d;
    --accent: #0e77da;//#daaa0e;
    --key-bg: var(--bg);
    --key-color: #fff;
    --key-checked-bg: var(--accent);
    --key-checked-color: #fff;
    --key-pressed-bg: rgb(110, 110, 110);
    --key-pressed-color: #fff;
    --key-size: 3em;
    --meta-filter: invert(100%); 
}
.darkmode{
    --bg: #25272b;
    --body-color: #fff;
    --nav-text: #a1a5ae;
    --keyboard-bg: #191b1d;
    --accent: #0e77da;//#daaa0e;
    --key-bg: var(--bg);
    --key-color: #fff;
    --key-checked-bg: var(--accent);
    --key-checked-color: #fff;
    --key-pressed-bg: rgb(110, 110, 110);
    --key-pressed-color: #fff;
    --key-size: 3em;
    --meta-filter: invert(100%);
}
.lightmode{
    --bg: #ffffff;
    --body-color: #000;
    --nav-text: #969696;
    --keyboard-bg: rgb(218, 218, 218);
    --key-bg: var(--bg);
    --key-color: #191b1d;
    --key-checked-bg: var(--accent);
    --key-checked-color: #fff;
    --key-pressed-bg: #666;
    --key-pressed-color: #fff;
    --key-size: 3em;
    --meta-filter: invert(0);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: var(--bg);
    color: var(--body-color);
    font-family: 'Roboto Mono', monospace;
    overflow: overlay;
    transition: background-color .2s, color .2s;
}
body::-webkit-scrollbar{
    width: .3em;
    height: .3em;
    background: transparent;
}
body::-webkit-scrollbar-thumb {
    background-color: #a1a5ae99;
    &:hover{
        background-color: #a1a5ae;
    }
}
button{
    background: inherit;
    border: 0;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
}