<div class="container">
    <h1 class="title_heading">Settings Section</h1>
    <section class="settings_section">
        <h2 class="secondary_heading">Color Scheme</h2>
        <div class="colors_container">
            <div class="color_box" data-color="#0e77da" (click)="selectedColor($event)"></div>
            <div class="color_box" data-color="#fcb103" (click)="selectedColor($event)"></div>
            <div class="color_box" data-color="#17d184" (click)="selectedColor($event)"></div>
            <div class="color_box" data-color="#770b9e" (click)="selectedColor($event)"></div>
            <div class="color_box" data-color="#c90e3d" (click)="selectedColor($event)"></div>
        </div>
    </section>
</div>